name: CI

on:
  push:
    paths-ignore:
      - "api/**"
      - "client/**"
  pull_request:
    paths-ignore:
      - "api/**"
      - "client/**"
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: No tests required
        run: 'echo "Skipping tests check"'
